[submodule "cleo.web"]
	path = cleo.web
	url = git@github.com:darwinapps/cleo.web.wiki.git
	branch = master
[submodule "35711-static.web"]
	path = 35711-static.web
	url = git@github.com:darwinapps/35711-static.web.wiki.git
	branch = master
[submodule "35711.web"]
	path = 35711.web
	url = git@github.com:darwinapps/35711.web.wiki.git
	branch = master
[submodule "abcfitness.web"]
	path = abcfitness.web
	url = git@github.com:darwinapps/abcfitness.web.wiki.git
	branch = master
